<div class="dashboard-container">
  <aside>
    <header>Demand Sensing</header>
    <hr>

    <!-- Product Category -->
    <mat-expansion-panel class="expansion-tweaks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Category
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span class="example-list-section">
        <mat-checkbox class="example-margin"  [checked]="allComplete"  [color]="categories.color" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
          {{categories.name}}
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let subcategory of categories.subcategories">
            <mat-checkbox [checked]="subcategory.completed"
                          [color]="subcategory.color"
                          (ngModelChange)="updateAllComplete()">
              {{subcategory.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </mat-expansion-panel>
  

    <!-- Products -->
    <mat-expansion-panel class="expansion-tweaks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Products
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      [(ngModel)]="chosenProduct">
      <mat-radio-button class="radio-button" color="primary" *ngFor="let product of products" [value]="product">
        {{product}}
      </mat-radio-button>
    </mat-radio-group>
    </mat-expansion-panel>

    <!-- Location -->
    <mat-expansion-panel class="expansion-tweaks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let location of locations.subcategories">
            <mat-checkbox [checked]="location.completed"
                          [color]="location.color"
                          (ngModelChange)="updateAllComplete()">
              {{location.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </mat-expansion-panel>

    <!-- Forecast Period -->
    <mat-expansion-panel class="expansion-tweaks">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Forecast Period
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      [(ngModel)]="selectedChartPeriod">
      <mat-radio-button class="radio-button" color="primary" *ngFor="let forecastPeriod of forecastPeriods" [value]="forecastPeriod.value">
        {{forecastPeriod.name}}
      </mat-radio-button>
    </mat-radio-group>
    </mat-expansion-panel>

  
    <!-- Datepicker -->
    <mat-form-field appearance="legacy" class="date-tweaks" (click)="picker.open()">
      <mat-label style="color:white;">Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dateRangeTrend" [rangePicker]="picker">
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate formControlName="endDate" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
    </mat-form-field>

  </aside>
  
  <main>

    <div style="display:flex;justify-content: space-between;">
    
      <!-- Causal Factors and Graph -->
      <div style="height:fit-content;width:73.5%">

        <!-- Causal Factors -->
        <mat-card>
          <div class="title-container">
            <!-- <div class="card-heading">
              <mat-card  style=" transform:scale(0.5) ;top:-50px;background-color: #DD2366;height:fit-content;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
                <img src="assets/images/trending-graph.svg" style="transform:scale(1)">
              </mat-card>
            </div> -->
            <div class="actual-heading">Causal Factors</div>
          </div>
          <br>

          <div class="row">
            <div class="col"><mat-checkbox class="example-margin" color="primary"  value="promotion" (change)="changePrecision($event)">Promotion</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="price"  (change)="changePrecision($event)">Price</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="market"  (change)="changePrecision($event)">Marketing</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="weather"  (change)="changePrecision($event)">Weather</mat-checkbox></div>
          </div>
          <br>
          <div class="row">
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="macro"  (change)="changePrecision($event)">Macro-Economic</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="events"  (change)="changePrecision($event)">Events</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="holiday"  (change)="changePrecision($event)">Holidays</mat-checkbox></div>
            <div class="col"><mat-checkbox class="example-margin" color="primary" value="others"  (change)="changePrecision($event)">Others</mat-checkbox></div>

          </div>  
        </mat-card>
        
        <!-- Graph -->
        <mat-card style="margin-top:20px;">
          <div class="title-container">
            <div style="display:flex;height:32px">

              <!-- Weekly, Monthly, Yearly Buttons -->
              <mat-button-toggle-group  [(ngModel)]="selectedChartPeriod" #group (change)="[print(selectedChartPeriod),appointDate()]"> 
                <mat-button-toggle matToolTip="Hourly" value="hourly" #hourly>H</mat-button-toggle>
                <mat-button-toggle matToolTip="Daily" value="daily">D</mat-button-toggle>
                <mat-button-toggle matToolTip="Weekly" value="weekly">W</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          

          <div style="height:fit-content;margin-top:2%;">
            <div echarts [options]="chartOption" class="demo-chart"></div>
          </div>
        </mat-card>

      </div>

      <!-- Forecast and Accuracy Summary -->
      <div style="height:fit-content;" class="w-25">

        <!-- Forecast -->
        <mat-card style="height:inherit">
          <div>
            <div class="actual-heading">Actual</div>
            <div class="actual-data">$ {{actual2021/1000000 | number:'1.0-2'}} mn <span style="font-size:12px;font-family: 'Comfortaa';">{{prevTime}}</span></div>
            <div class="actual-data">$ {{actual2022/1000000 | number:'1.0-2'}} mn <span style="font-size:12px;font-family: 'Comfortaa';">{{presTime}}</span></div>
            <hr>
            <div class="w-100" style="display:flex">
              <div class="w-50">
                <div class="actual-heading">Forecast</div>
                <div class="demand-sensed-increament">{{forecast*forecastBase/1000000 | number:'1.0-2'}} mn <img [src]="arrowIcon" style="height:15px;"></div>    
              </div>
              <div class="w-50">
                <div class="actual-heading">Accuracy</div>
                <div class="demand-sensed-increament" style="color:#53D6C4">{{(ensemBase * 100) | number:'1.0-2'}} %</div>
              </div>
            </div>
          </div>
    
        </mat-card>

        <!-- Accuracy Summary -->
        <mat-card style="margin-top:20px;">
          <div class="forecast-heading"><span>Forecast Models</span><span>Accuracy</span> </div>
          <br><br>
          <div class="actual-model"><span><img [src]="plusIcon" style="height:15px;margin-right:5px;">Traditional</span>    <span>{{(tradBase * 100) | number:'1.0-2'}}%</span></div>
          <hr>
          <div class="actual-model"><span><img [src]="plusIcon" style="height:15px;margin-right:5px;">Machine Learning</span>    <span>{{(mlBase * 100) | number:'1.0-2'}}%</span></div>
          <hr>
          <div class="actual-model"><span><img [src]="plusIcon" style="height:15px;margin-right:5px;">Deep Learning</span>    <span>{{(dlBase * 100) | number:'1.0-2'}}%</span></div>
          <hr>
          <div class="actual-model" style="color:#06f9d9;font-weight: 600;"><span><img [src]="plusIcon" style="height:15px;margin-right:5px;">Ensemble</span>    <span>{{(ensemBase * 100) | number:'1.0-2'}}%</span></div>
        </mat-card>

      </div>


    </div>




    
    <!-- Insights -->
    <mat-card style="margin-top:20px;">
      <!-- <div class="title-container"> -->
        <!-- <div class="card-heading">
          <mat-card  style=" transform:scale(0.5) ;top:-50px;background-color: #46A24A;height:fit-content;box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
            <img src="assets/images/insights-graph.svg" style="transform:scale(1)">
          </mat-card>
        </div> -->
      <!-- </div> -->
     
      <div style="display:flex;justify-content: space-around;">
        <mat-card class="insight-card">
          <div class="stats-figure">{{salesIncreament}}%</div>      
          <div class="stats-desc">Increament in sales quantity over the last {{period}}</div>    
        </mat-card>

        <mat-card class="insight-card">
          <div class="stats-figure">{{impressionsIncreament}}%</div>      
          <div class="stats-desc">Increament in sales revenue over the last {{period}}</div>    
        </mat-card>

        <mat-card class="insight-card">
          <div class="stats-figure">{{revenuesIncreament}}%</div>      
          <div class="stats-desc">Increament in gross profit over the last {{period}}</div>    
        </mat-card>

        <mat-card class="insight-card">
          <div class="stats-figure" style="color:#DD2366;">{{workforceIncreament}}%</div>      
          <div class="stats-desc">Decreament in workforce over the last {{period}}</div>    
        </mat-card>
      </div>

    </mat-card>

    <!-- Table -->
    <mat-card style="margin-top:20px;">
      <div class="title-container" style="justify-content:flex-end">
        <button mat-raised-button color="primary" style="padding-bottom:38px;" (click)="openSnackBar(message, action)">Submit</button>      
    </div>
     
      <table style="margin-top:2%;">
        <thead>
          <th>CATEGORIES</th>
          <th>FY 2021</th>
          <th>FY 2022</th>
          <th>FORECAST</th>
          <th>RESULT</th>
          <th>APPROVAL</th>
        </thead>

        <tbody>
          <tr>
            <td>Category 1</td>
            <td>4,034,324</td>
            <td>5,435,252</td>
            <td>8,948,983</td>
            <td style="color:#53D6C4;font-weight: 600;">{{(8948983/((4034324+5435252)/2)*10) | number:'1.0-2'}}%</td>
            <td>
              <mat-radio-group id="approval-status" aria-label="Select an option">
                <mat-radio-button value="1" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="2" color="accent">No</mat-radio-button>
              </mat-radio-group>              
            </td>
          </tr>
          <tr>
            <td>Category 2</td>
            <td>12,064,792</td>
            <td>13,335,912</td>
            <td>98,948,983</td>
            <td style="color:#53D6C4;font-weight: 600;">{{(98948983*2/(13335912 + 12064792))*10 | number:'1.0-2'}}%</td>
            <td>
              <mat-radio-group id="approval-status" aria-label="Select an option">
                <mat-radio-button value="1" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="2" color="accent">No</mat-radio-button>
              </mat-radio-group>              
            </td>
          </tr>
          <tr>
            <td>Category 3</td>
            <td>2,124,014</td>
            <td>8,415,782</td>
            <td>10,948,983</td>
            <td style="color:#53D6C4;font-weight: 600;">{{(10948983*2/(2124014 + 8415782))*10 | number:'1.0-2'}}%</td>
            <td>
              <mat-radio-group id="approval-status" aria-label="Select an option">
                <mat-radio-button value="1" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button value="2" color="accent">No</mat-radio-button>
              </mat-radio-group>              
            </td>
          </tr>
        </tbody>
      </table>

    </mat-card>

    

    <br>
  </main>

</div>
